*{margin: 0;padding: 0;font-family: 'Times New Roman', Times, serif;box-sizing: border-box;}
body{align-items: center;display: flex;justify-content: center;background: grey;min-height: 100vh;}
#container{
    position: relative;
    background: gainsboro;
    border-top-left-radius:175px;
    border-top-right-radius: 175px;
   /* min-height: 400px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#clock{
    position: relative;
    width: 350px;
    height: 350px;
    background: cornflowerblue;
    border:  2px solid grey;
    border-radius: 50%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#clock::before{
    content: '';
    width: 5px;height: 5px;
    border: 3px solid salmon;
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
}
#clock span{position: absolute;color: black;inset: 20px;text-align: center;transform: rotate(calc(30deg * var(--i)));}
#clock span b{
    font-size: 20px;
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    opacity: 1;
    font-weight: 900;
    color: black;
}
.circle{
    position: absolute;
    width: 240px;
    height: 240px;
    border: silver solid 1px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.circle2{width: 190px;height: 190px;z-index: 9;}
.circle3{width: 140px;height: 140px;z-index: 8;}
.circle i{
    position: absolute;
    height: 50%;width: 5px;
    background: var(--clr);
    transform-origin: bottom;
    opacity: 0.75;
    transform: scaleY(0.5);
}
.circle:nth-child(1) i{
    width: 2px;
}

.circle:nth-child(2) i{
    width: 4px;
}
.circle::before{
    background: var(--clr);
    width: 5px;
    height: 5px;
    content: '';
    position: absolute;
    border-radius: 50%;
}
#time{display: flex;
    border: solid floralwhite 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#time div{
    position: relative;
    width: 40px;
    text-align: center;
    color: var(--clr);
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right: -4px;
}
#time div:last-child{font-size: 15px;align-self: center;}